@import '~normalize.css';

html {
    background: url(./assets/images/cloud.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}
